<h2>App Comp works!</h2>

<!-- Here we have called HeaderComp in App Comp so that it becomes common component among all components -->
<!-- <app-header></app-header> -->
<router-outlet/>

<form class = "form-box" [formGroup] = "profileForm" (ngSubmit) = "onSubmit()">
    <input type = "text" placeholder = "Enter your name" formControlName = "name"> *
    <span *ngIf = "name?.hasError('required')">Name is required</span>
    <br>
    <span *ngIf = "name?.invalid && (name?.dirty || name?.touched)">Provide UserName</span>
    <br>
    <br>
    <input type = "text" placeholder= "Enter your Password" formControlName = "password"> *
    <span *ngIf = "password?.hasError('required')">Password is Required</span>
    <br>
    <span *ngIf = "password?.invalid && (password?.dirty || password?.touched)">Please Enter Valid Password</span>
    <br><br>
    <input type = "text" placeholder= "Enter your Email" formControlName = "email">
    <span *ngIf = "email?.invalid && (email?.dirty || email?.touched)">Please Enter Valid Email</span>

    <br><br>
    <button type = "submit" style = "margin-left: 57%;">Submit</button>
</form>

