/* You can add global styles to this file, and also import other style files */
h2{
    color: blue;    
}

body {
  background-color: #42B0D5; /* HEX: #42B0D5 | RGB: (66, 176, 213) */
  color: #333;
   /* Optional: set text color for contrast */
}